*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  
}

html,body{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  background: #e0c16c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  height:650px ;
  width: 320px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.storis{
  height: 120px;
  width: 100%;
  border-bottom: 1px solid #dadada;
  padding: 20px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
 
  
}

.storis::-webkit-scrollbar{
  display: none;
}

.story{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 3px solid red;
  display: inline-block;
  overflow: hidden;
  
}
.story img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.full-screen{
  height: 100%;
  width: 100%;
 background-size: cover;
 background-position: center ;
  position: absolute;
display: none;
}